HUD {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	justify-content: flex-start;
	align-items: flex-end;
	font-size: 3vh;
	font-family: Poppins;
	color: #fff;

	.title {
		font-size: 25px;
	}

	.toolbox {
		pointer-events: all;
		border-top: 0.1vh solid #333;
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 3vh;
		background-color: #001;
		width: 100%;
		padding: 3vh;
	}

	.tool {
		border: 0.1vh solid #fff;
		background-color: #000;
		padding: 1vh;
	}
}
