HUD {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	justify-content: flex-start;
	align-items: flex-end;
	font-size: 36px;
	font-family: Poppins;
	color: #fff;

	button {
		pointer-events: all;
	}

	.view {
		width: 100%;
		height: 100%;
		justify-content: flex-start;
		align-items: center;
		flex-direction: column;
	}

	.view.main {
		background-color: #124;
		.subtitle {
			margin-top: -50px;
		}
	}

	.view.levels {
		background-color: #124;

		.level-list {
			flex-direction: row;
			gap: 8px;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			overflow: scroll;
			margin: 0 50px;
			padding: 10px;
			border: 4px solid #013;
			border-radius: 32px;
			flex-grow: 1;
			align-self: stretch;
		}
	}

	.view.import {
		background-color: #124;

		.importer {
			flex-direction: column;
			pointer-events: all;

			.explainer {
				flex-direction: column;
				align-self: stretch;
				text-align: center;
				justify-content: center;
				align-items: center;
				align-content: center;
				p {
					justify-content: center;
					margin-bottom: 8px;
				}
			}

			button.stealth {
				align-self: center;
			}

			TextEntry {
				border: 1px solid #aaa;
				background-color: #000;
			}
		}
	}

	.view.mousewatch {
		pointer-events: all;
	}

	.view.score {
		background-color: #012;

		PaintCanvas {
			position: relative;
			align-self: center;
		}
	}

	button.roundy {
		border: 2px solid #888;
		border-radius: 8px;
		padding: 0px 8px;
		background-color: #8881;
	}

	button.roundy:hover {
		border-color: #bbb;
		background-color: #0008;
	}

	button.roundy.pressed {
		border-color: #fff;
		background-color: #000;
	}

	button.stealth {
		color: #ba8;
		padding: 2px;
		justify-content: center;
	}

	button.stealth:hover {
		color: #fc4;
	}

	.gutter {
		flex-direction: row;
		padding: 15px 50px;
		align-self: stretch;
		justify-content: flex-start;
	}

	.title {
		font-size: 150px;
		font-weight: bold;
		padding-top: 50px;
	}

	.subtitle {
		font-size: 100px;
	}

	.gap {
		flex-grow: 1;
	}

	.brief {
		flex-direction: column;
		align-items: center;
		background-color: #000;
		color: #fff;
		pointer-events: all;
		width: 600px;
		overflow: visible;
		font-size: 21px;
		padding: 0 15px;

		TextEntry {
			align-self: stretch;
			border: 1px solid #aaa;
		}

		TextEntry.tall {
			flex-grow: 1;
		}

		button {
			padding: 5px 25px;
		}

		.controls {
			flex-direction: row;
			gap: 4px;
			width: 100%;
			justify-content: space-evenly;
		}

		.title {
			font-size: 30px;
			padding: 2px;
			text-align: center;
		}

		.subtitle {
			font-size: 24px;
		}

		.desc {
			flex-direction: column;
			flex-grow: 1;

			p {
				margin: 4px 0;
			}
		}

		.goal {
			flex-direction: column;
			align-self: stretch;

			.readout {
				align-items: center;
				justify-content: center;
				white-space: pre-line;
				text-align: center;
				min-height: 150px;
			}
		}

		PaintCanvas {
			position: relative;
			align-self: center;
		}

		.minmax {
			font-family: Material Icons;
			width: 50px;
			height: 50px;
			position: absolute;
			top: 0;
			left: 600px;
			padding: 0;
			justify-content: center;
			align-items: center;
			font-weight: bold;
			font-size: 50px;
		}

		.minmax.bot {
			top: 50px;
			display: none;
		}
	}

	.brief.min {
		width: 256px;

		.desc {
			display: none;
		}

		.goal {
			flex-grow: 1;
			justify-content: center;
		}

		.minmax {
			left: 256px;
		}

		.minmax.bot {
			top: 50px;
			display: flex;
		}
	}

	.brief.hidden {
		width: 0;

		* {
			display: none;
		}

		.minmax {
			left: 0;
			display: flex;
			* {
				display: flex;
			}
		}

		.minmax.bot {
			display: none;
		}
	}

	.brief.wide {
		width: 50%;
	}

	.leader {
		flex-direction: row;
		flex-grow: 1;
		align-self: stretch;
		font-size: 22px;

		.head {
			font-size: 28px;
			justify-content: center;
		}

		.col {
			flex-direction: column;
			flex-grow: 1;
			width: 33.3%;

			.name {
				flex-grow: 1;
				text-overflow: ellipsis;
				max-height: 2em;
				label {
					width: 100%;
				}
			}

			.score {
				padding-right: 25px;
				max-height: 2em;
				min-width: 4em;
				text-overflow: clip;
			}

			.lone {
				flex-grow: 1;
				justify-content: center;
			}
		}
	}

	.leader.big {
		font-size: 28px;
		.head {
			font-size: 36px;
		}
	}

	.acc {
		font-size: 30px;
		font-weight: bold;
		justify-content: center;
	}

	.divider-h {
		margin-top: 15px;
	}

	.divider-v {
		margin-left: 15px;
	}

	.finishmenu {
		flex-direction: column;
		flex-grow: 1;
		width: 40%;
		justify-content: center;
	}

	.sidebars {
		flex-direction: row;
		flex-grow: 1;
		align-self: stretch;
		max-width: 100%;

		.brief {
			background-color: #000c;
		}

		.right {
			align-self: flex-end;
		}
	}

	.design-up {
		flex-grow: 1;
		width: 100%;
	}

	.design-work {
		background-color: #012;
		position: relative;
		flex-grow: 1;
		align-items: center;
		justify-content: center;

		PaintCanvas {
			position: relative;
		}
	}

	.menu-list {
		flex-direction: column;
		align-items: center;
		padding-bottom: 50px;
		gap: 25px;
	}

	.toolbox {
		border-top: 0.1px solid #333;
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 50px;
		background-color: #001c;
		width: 100%;
		padding: 20px;
		flex-shrink: 1;
		font-size: 24px;

		.group {
			gap: 5px;
		}

		.group.right {
			flex-grow: 1;
			justify-content: flex-end;
		}

		button {
			border: 1px solid #aaa;
			border-radius: 8px;
			background-color: #111;
			padding: 10px 20px;
		}

		button.pressed {
			border: 1px solid #fff;
			background-color: #000;
		}

		.clr {
			justify-content: center;
			align-items: center;
			font-family: Material Icons;

			.lbl {
				font-family: Poppins;
				color: #fff;
				margin-left: 8px;
				margin-top: -2px;
			}
		}
	}

	TextEntry.io {
		align-items: flex-start;
		white-space: normal;
		caret-color: transparent;
	}
}
