@using Sandbox;
@using Sandbox.UI;
@using System;
@namespace Reprint
@inherits FactoryPanel

<root>
	<FactoryStepPanel Fact=@(this)>
		<Name>Rotate</Name>
		<Config>
			<div class="sel row">
				<button class="@(Fact.clockwise ? "" : "pressed")" @onclick=@(() =>
					SelectTurn(false))>rotate_90_degrees_ccw</button>
				<button class="@(Fact.clockwise ? "pressed" : "")" @onclick=@(() =>
					SelectTurn(true))>rotate_90_degrees_cw</button>
			</div>
		</Config>
	</FactoryStepPanel>
</root>

@code
{
	private FactoryRot Fact { get => factory as FactoryRot; }

	private void SelectTurn(bool cw)
	{
		Fact.clockwise = cw;
	}

	protected override FactoryStep CreateFactory() => new FactoryRot();
	protected override int BuildHash() => HashCode.Combine(Fact.clockwise);
}
