Canvas {
	position: absolute;
	flex-direction: column;
	gap: 1px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	font-family: Poppins;
	font-weight: bold;

	.row {
		flex-direction: row;
		gap: 1px;
	}

	.row div {
		justify-content: center;
		align-items: center;
		padding-bottom: 1%;
	}
}
