FactoryStepPanel {
	flex-direction: column;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #223;
	justify-content: flex-start;
	align-items: center;
	font-family: Poppins;
	color: #fff;
	pointer-events: all;
	font-size: 20px;

	.menu {
		flex-direction: row;
		width: 100%;
		justify-content: flex-start;
		align-items: center;
		background-color: #334;
		gap: 0;
		border-bottom: 2px solid #000;
	}

	.menu button {
		background-color: #112;
		width: 40px;
		height: 100%;
		flex-shrink: 1;
		align-items: center;
		justify-content: center;
	}

	.dragbar {
		border-left: 4px solid #000;
		flex-grow: 1;
		align-items: center;
		justify-content: center;
	}

	.config {
		flex-direction: column;
		justify-content: center;
		gap: 1rem;
		flex-grow: 1;
		align-items: center;

		.fixed-num {
			width: 20px;
			max-height: 50px;
			text-overflow: clip;
		}

		.group {
			flex-direction: row;
			gap: 1.5rem;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
		}

		.row {
			flex-direction: row;
			gap: 1.5rem;
			align-items: center;
		}

		.col {
			flex-direction: column;
			gap: 1.5rem;
			align-items: center;
		}

		.sel {
			button {
				padding: 1rem;
				font-family: Material Icons;
				font-size: 40px;
				border: 1px solid #444;
				border-radius: 8px;
			}

			button.txt {
				font-family: Poppins;
				font-weight: bold;
			}

			button.sm {
				font-size: 20px;
			}

			button.pressed {
				border: 1px solid #aaa;
				background-color: #111;
			}
		}

		.clr {
			justify-content: center;
			align-items: center;
			font-family: Material Icons;

			.lbl {
				font-family: Poppins;
				color: #fff;
				padding-left: 8px;
				padding-top: 4px;
			}
		}
	}
}
