FactoryStepPanel {
	flex-direction: column;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #223;
	justify-content: flex-start;
	align-items: center;
	font-family: Poppins;
	color: #fff;
	pointer-events: all;
	font-size: 20px;

	.title {
		flex-direction: row;
		gap: 8px;
	}

	.menu {
		flex-direction: row;
		width: 100%;
		justify-content: flex-start;
		align-items: center;
		background-color: #334;
		gap: 0;
		border-bottom: 2px solid #000;

		button {
			font-family: Material Icons;
			background-color: #112;
			flex-shrink: 1;
			align-items: center;
			justify-content: center;
			padding: 5px;
		}

		.dragbar {
			flex-grow: 1;
			align-items: center;
			justify-content: center;
		}
	}

	.config {
		flex-direction: column;
		justify-content: center;
		gap: 5px;
		flex-grow: 1;
		align-items: center;

		.fixed-num {
			justify-content: center;
			width: 25px;
			max-height: 50px;
			text-overflow: clip;
		}

		.group {
			flex-direction: row;
			gap: 8px;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
		}

		.row {
			flex-direction: row;
			gap: 8px;
			align-items: center;
		}

		.col {
			flex-direction: column;
			gap: 8px;
			align-items: center;
		}

		button {
			padding: 5px;
			font-family: Material Icons;
			font-size: 40px;
			border: 1px solid #444;
			border-radius: 8px;
		}

		button.txt {
			font-family: Poppins;
		}

		button.sm {
			font-size: 20px;
		}

		button.xs {
			font-size: 14px;
		}

		button.pressed {
			border: 1px solid #aaa;
			background-color: #111;
		}

		.clr {
			justify-content: center;
			align-items: center;
			font-family: Material Icons;

			span {
				font-size: 15px;
			}

			.lbl {
				font-family: Poppins;
				color: #fff;
			}
		}
	}

	.link {
		text-underline-offset: 4px;
		text-decoration: underline solid #fff 4px;
	}
}
