@namespace Reprint

<root>
	<div class="menu">
		<button @onclick=@RemoveMe>X</button>
		<span @onmousedown=@DragMe class="dragbar">ⵓ ⵓ ⵓ ⵓ</span>
	</div>
    <div class="title">@Name</div>
    <div class="config">@Config</div>
</root>

@code
{
    public RenderFragment Name { get; set; }
    public RenderFragment Config { get; set; }
	public FactoryPanel Fact { get; set; }

	private void RemoveMe()
	{
		Fact.toolbox.RemoveFromSquence(Fact);
	}

	private void DragMe()
	{
		Fact.toolbox.BeginDragging(Fact);
	}
}
