FactoryStrokeSelection {
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	button svg {
		width: 24px;
		height: 24px;
	}

	.ex-pxl {
		width: 24px;
		height: 24px;
	}

	.ex-arrow {
		font-family: Material Icons;
	}

	.row.strokecfg {
		height: 34px;
	}
}
