PaintCanvas {
	position: absolute;
	flex-direction: column;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	justify-content: center;
	align-items: center;
	font-family: Poppins;
	font-weight: bold;
	pointer-events: all;

	div {
		position: absolute;
		justify-content: center;
		align-items: center;
		border: 1px solid #000;
	}
}

PaintCanvas.big {
	div {
		border: 3px solid;
	}
}
