@using Sandbox;
@using Sandbox.UI;
@namespace Reprint
@inherits PanelComponent

<root>
	<div class="top menu">
		<button @onclick=@(workspace.ResetScratch) class="icon">replay</button>
		<span @onmousedown=@DragMe class="dragbar">ⵓ ⵓ ⵓ ⵓ</span>
		<button @onclick=@(workspace.AdvanceScratch) class="icon">play_arrow</button>
	</div>
	<PaintCanvas @listener=@insp @paint=@(workspace.scratchPaint) @size=@size></PaintCanvas>
	<div class="bot menu">
		<div><span class="readout-pfx ficon">⯏</span>@(workspace.scratchPaint?.CursorReadout ?? "")</div>
		<div><span class="readout-pfx icon">pan_tool</span>@(insp.CreateHoverReadout(workspace.scratchPaint))</div>
	</div>
</root>

@code
{
	[Property] public float size = 128.0f;
	private Workspace workspace;
	private PaintingInspector insp = new();

	protected override void OnStart()
	{
		workspace = Scene.Get<Workspace>();
	}

	private void DragMe()
	{
		workspace.StartDragScratch();
	}

	protected override int BuildHash() => System.HashCode.Combine(insp.obvX, insp.obvY, workspace.scratchPaint,
	workspace.scratchPaint?.BuildHash() ?? 0);
}
