@using Sandbox;
@using Sandbox.UI;
@namespace Reprint
@inherits PanelComponent

<root>
	<div class="top menu">
		<span @onmousedown=@DragMe class="dragbar">ⵓ ⵓ ⵓ ⵓ</span>
	</div>
	<PaintCanvas @listener=@insp @paint=@(workspace.scratchPaint) @size=@size></PaintCanvas>
	<div class="bot menu">
		<div><span class="ficon">⯏</span>@(workspace.scratchPaint.CursorReadout)</div>
		<div><span class="icon">pan_tool</span>@(insp.CreateHoverReadout(workspace.scratchPaint))</div>
	</div>
</root>

@code
{
	[Property] public float size = 256.0f;
	private Workspace workspace;
	private PaintingInspector insp = new();

	protected override void OnStart()
	{
		workspace = Scene.Get<Workspace>();
	}

	private void DragMe()
	{
		workspace.StartDragScratch();
	}

	protected override int BuildHash() => System.HashCode.Combine( insp.obvX, insp.obvY, workspace.scratchPaint.BuildHash() );
}
