@using Sandbox;
@using Sandbox.UI;
@using System;
@namespace Reprint
@inherits FactoryPanel

<root>
	<FactoryStepPanel Fact=@(this)>
		<Name>Draw Line</Name>
		<Config>
			<div class="sel group">
				@foreach ( Pixel.ColorLookup clr in Enum.GetValues<Pixel.ColorLookup>() )
				{
					var sel = Fact.color == clr;
					<button @onclick=@(() => SelectColor(clr)) class="sm @(sel ? "pressed" : "")" style="color: @Pixel.GetColor(clr).color.Hex">radio_button_@(sel ? "" : "un")checked</button>
				}
			</div>
		</Config>
	</FactoryStepPanel>
</root>

@code
{
	private bool showColorDrop = false;
	private FactoryLine Fact { get => factory as FactoryLine; }

	private void ToggleColorDropdown()
	{
		showColorDrop = !showColorDrop;
	}

	private void ShowColorDropdown()
	{
		showColorDrop = true;
	}

	private void HideColorDropdown()
	{
		showColorDrop = false;
	}

	private void SelectColor(Pixel.ColorLookup sel)
	{
		Fact.color = sel;
		HideColorDropdown();
	}

	protected override FactoryStep CreateFactory() => new FactoryLine();
	protected override int BuildHash() => HashCode.Combine( showColorDrop );
}
