@using Sandbox;
@using Sandbox.UI;
@using System;
@namespace Reprint
@inherits FactoryPanel

<root>
	<FactoryStepPanel Fact=@(this) CanDelete=@false CanBreakpoint=@false>
		<Name style="font-family: Material Icons">anchor</Name>
		<Config>
			<span class="link" @onclick=@SnapToSource>@(Fact.Label)</span>
		</Config>
	</FactoryStepPanel>
</root>

@code
{
	private FactoryAnchor Fact { get => factory as FactoryAnchor; }

	private void SnapToSource()
	{
		workspace.PutInView(Fact.SourceGo);
	}

	protected override FactoryStep CreateFactory() => new FactoryAnchor();
	protected override int BuildHash() => HashCode.Combine(Fact.Label, base.BuildHash());
}
