{
  "Actions": [
    {
      "Name": "ClickL",
      "GroupName": "Other",
      "Title": "Primary Action",
      "KeyboardCode": "MOUSE1",
      "GamepadCode": "None"
    },
    {
      "Name": "ClickR",
      "GroupName": "Other",
      "Title": "Secondary Action",
      "KeyboardCode": "MOUSE2",
      "GamepadCode": "None"
    },
    {
      "Name": "ScrollL",
      "GroupName": "Other",
      "Title": "Scroll Left",
      "KeyboardCode": "MWHEELUP",
      "GamepadCode": "None"
    },
    {
      "Name": "ScrollR",
      "GroupName": "Other",
      "Title": "Scroll Right",
      "KeyboardCode": "MWHEELDOWN",
      "GamepadCode": "None"
    },
    {
      "Name": "AdvScratch",
      "GroupName": "Other",
      "Title": "Advance Scratch",
      "KeyboardCode": "TAB",
      "GamepadCode": "None"
    },
    {
      "Name": "RstScratch",
      "GroupName": "Other",
      "Title": "Reset Scratch",
      "KeyboardCode": "R",
      "GamepadCode": "None"
    }
  ],
  "__guid": "b9bebb87-4b3c-4237-baae-30098c086437",
  "__schema": "configdata",
  "__type": "InputSettings",
  "__version": 1
}