@using Sandbox;
@using Sandbox.UI;
@using System;
@namespace Reprint
@inherits FactoryPanel

<root>
	<FactoryStepPanel Fact=@(this)>
		<Name><span>Goto</span><span class="link" @onclick=@SnapToAnchor>@(Fact.AnchorLabel)</span></Name>
		<Config>
			<div class="row">
				<button class="sm" @onclick=@DecrC>remove</button>
				<span class="">@(Fact.MaxCount)</span>
				<button class="sm" @onclick=@IncrC>add</button>
				<div class="divider-h"></div>
				<button class="xs txt @(Fact.ResetOnContinue ? "pressed" : "")"
					@onclick=@ToggleROC>@(Fact.ResetOnContinue ?
					"Reset on Continue" : "Don't Reset on Continue")</button>
			</div>
		</Config>
	</FactoryStepPanel>
</root>

@code
{
	private FactoryIter Fact { get => factory as FactoryIter; }

	private void ToggleROC()
	{
		Fact.ResetOnContinue = !Fact.ResetOnContinue;
	}

	private void DecrC()
	{
		Fact.MaxCount--;
	}

	private void IncrC()
	{
		Fact.MaxCount++;
	}

	private void ResetCount()
	{
		Fact.ResetInternal();
	}

	private void SnapToAnchor()
	{
		workspace.PutInView(Fact.AnchorGo);
	}

	protected override FactoryStep CreateFactory() => new FactoryIter();
	protected override int BuildHash() => HashCode.Combine(Fact.ResetOnContinue, Fact.MaxCount, Fact.Counter,
	Fact.AnchorLabel, base.BuildHash());
}
